<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 	<settings> -->
<!-- 	默认值default=true true false -->
<!-- 		<setting name="cacheEnabled" value="true"/> -->
<!-- 	</settings> -->
<!-- <typeAliases>
	<typeAlias type="com.softeem.edu.dto.Dept" alias="dept"/>
</typeAliases> -->
<!-- 	<plugins>
		<plugin interceptor="com.softeem.mybatispage.MybatisPageInterceptor"></plugin>
	</plugins> -->
	<!-- <environments default="myexample">
		<environment id="myexample">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:orcl" />
				<property name="username" value="scott" />
				<property name="password" value="a123" />
			</dataSource>
		</environment>
	</environments> -->
	<!-- 所有的 关于表的映射关系 xml都必须要在此处注册 -->
	<mappers>
		<mapper resource="com/lh/super_market/mapper/StaffMapper.xml" />
		<mapper resource="com/lh/super_market/mapper/GoodsMapper.xml" />
		<mapper resource="com/lh/super_market/mapper/CategoryMapper.xml" />
		<mapper resource="com/lh/super_market/mapper/SupplierMapper.xml" />
		<mapper resource="com/lh/super_market/mapper/InhousingMapper.xml" />
		<mapper resource="com/lh/super_market/mapper/OuthousingMapper.xml" />
	</mappers>
</configuration>