<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Stock" >
 <cache
        eviction="FIFO"
        flushInterval="60000"
        size="512"
        readOnly="true" />

  <resultMap id="StockMap" type="com.lh.super_market.entity.Stock">
  	<result column="stock_id"  property="stock_id" />
    <result column="warehouse_id"  property="warehouse_id" />
    <result column="goods_id" property="goods_id" />
    <result column="count" property="count" />
	<result column="del" property="del"/>
  </resultMap>


	<sql id="base_column_list">
		stock_id,warehouse_id,goods_id,count,del
	</sql>
	
	<select id="selectBystrWhere" parameterType="java.util.Map" resultMap="StockMap">
		SELECT 
			<include refid="base_column_list"/> 
		FROM 
			MARKET_STOCK WHERE DEL=0
		<if test="strWhere!=null and strwhere!=''">
			and ${strWhere}
		</if>
		ORDER BY STOCK_ID;
	</select>

	<select id="selectAll" resultMap="StockMap">
	 	SELECT * FROM MARKET_STOCK WHERE DEL = 0
	</select>

	<insert id="insert"  parameterType="com.lh.super_market.entity.Stock">
		insert into MARKET_STOCK(
			warehouse_id,goods_id,count,del
		) values(
			#{warehouse_id},
			#{goods_id},
			#{count},
			#{del}
		)
	</insert>	
	
	
	<update id="update"  parameterType="com.lh.super_market.entity.Stock" >
		update 
			MARKET_STOCK
	    set 
	    	count=#{count},
			del=#{del}
		where warehouse_id=#{warehouse_id} and goods_id=#{goods_id}
	</update>
	
 	
  <delete id="deleteByPrimaryKey" parameterType="int">
    update  
    	MARKET_STOCK 
    set 
    	del=1
    where 
    	stock_id=#{stock_id} 
  </delete>

</mapper>